{{>partial_header}}

using System;
using System.Collections.Generic;
using Newtonsoft.Json;

namespace {{packageName}}.Client
{
    /// <summary>
    /// API Exception
    /// </summary>
    {{>visibility}} class {{packageName}}ApiException : Exception
    {
        /// <summary>
        /// Gets or sets the error code (HTTP status code)
        /// </summary>
        /// <value>The error code (HTTP status code).</value>
        public int StatusCode { get; private set; }

        /// <summary>
        /// Gets or sets the error content (body json object)
        /// </summary>
        /// <value>The error content (Http response body).</value>
        public object ErrorContent { get; private set; }

        /// <summary>
        /// Gets or sets the list of Api Errors
        /// </summary>
        public IEnumerable<string> ApiErrors { get; private set; }

        /// <summary>
        /// Gets or sets the list of Api Errors
        /// </summary>
        public IEnumerable<string> ApiWarnings { get; private set; }

        /// <summary>
        /// Gets or sets the HTTP headers
        /// </summary>
        /// <value>HTTP headers</value>
        public Multimap<string, string> Headers { get; private set; }

        /// <summary>
        /// Initializes a new instance of the <see cref="{{packageName}}ApiException"/> class.
        /// </summary>
        public {{packageName}}ApiException() { }

        /// <summary>
        /// Initializes a new instance of the <see cref="{{packageName}}ApiException"/> class.
        /// </summary>
        /// <param name="statusCode">HTTP status code.</param>
        /// <param name="message">Error message.</param>
        public {{packageName}}ApiException(int statusCode, string message) : base(message)
        {
            this.StatusCode = statusCode;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="{{packageName}}ApiException"/> class.
        /// </summary>
        /// <param name="statusCode">HTTP status code.</param>
        /// <param name="message">Error message.</param>
        /// <param name="errorContent">Error content.</param>
        /// <param name="headers">HTTP Headers.</param>
        public {{packageName}}ApiException(int statusCode, string message, string errorContent, Multimap<string, string> headers = null) : base(message)
        {
            this.StatusCode = statusCode;
            this.ErrorContent = errorContent;
            this.Headers = headers;

            try
            {
                var structured = JsonConvert.DeserializeObject<Dictionary<string, IEnumerable<string>>>(errorContent);

                if (structured.ContainsKey("errors"))
                {
                    this.ApiErrors = structured["errors"];
                }

                if (structured.ContainsKey("warnings"))
                {
                    this.ApiWarnings = structured["warnings"];
                }
            }
            catch
            {
                // Ignore
            }
        }
    }

}
