{{>partial_header}}

using System;
using {{packageName}}.Api;
using {{packageName}}.Client;

namespace {{packageName}}
{
    public class {{packageName}}Client
    {
        {{#apiInfo}}
        {{#apis}}
        {{#operations}}
        public {{packageName}}.Api.{{classname}} {{classname}};
        {{/operations}}
        {{/apis}}
        {{/apiInfo}}
        
        private readonly Configuration _configuration;

        public {{packageName}}Client(string VaultAddress)
        {
            if(string.IsNullOrEmpty(VaultAddress))
            {
                throw new ArgumentException("Cannot be empty", "VaultAddress");
            }

            _configuration = new Configuration();
            _configuration.BasePath = VaultAddress;

            var apiClient = new ApiClient(_configuration);
            
            {{#apiInfo}}
            {{#apis}}
            {{#operations}}
            this.{{classname}} = new {{packageName}}.Api.{{classname}}(apiClient);
            {{/operations}}
            {{/apis}}
            {{/apiInfo}}
        }
    }    
}