{{>partial_header}}

using System;
using System.Net.Http;
using {{packageName}}.Api;
using {{packageName}}.Client;

namespace {{packageName}}
{
    public class {{packageName}}Client
    {
        {{#apiInfo}}
        {{#apis}}
        {{#operations}}
        public {{packageName}}.Api.{{classname}} {{classname}};
        {{/operations}}
        {{/apis}}
        {{/apiInfo}}
        
        private ApiClient _apiClient;

        /// <summary>
        /// Initializes a new instance of the <see cref="{{packageName}}Client"/> class
        /// </summary>
        public {{packageName}}Client(Configuration configuration)
        {
            if (configuration == null) throw new ArgumentNullException(nameof(Configuration));

            _apiClient = new ApiClient(configuration);

            {{#apiInfo}}
            {{#apis}}
            {{#operations}}
            this.{{classname}} = new {{packageName}}.Api.{{classname}}(_apiClient);
            {{/operations}}
            {{/apis}}
            {{/apiInfo}}
        }

        /// <summary>
        /// Sets the client token to inject as a header into Api calls
        /// </summary>
        public void SetToken(string token)
        {
            if(string.IsNullOrEmpty(token))
            {
                throw new ArgumentNullException("Token cannot be empty");
            }

            _apiClient.SetToken(token);   
        }
    }
}