{{>partial_header}}

using Polly;
using System;

namespace {{packageName}}.Client
{
    /// <summary>
    /// Configuration class to set the polly retry policies to be applied to the requests.
    /// </summary>
    public class RetryConfiguration
    {
{{#useHttpClient}}
        /// <summary>
        /// Retry policy
        /// </summary>
        public Policy RetryPolicy { get; set; }

        /// <summary>
        /// Async retry policy
        /// </summary>
        public AsyncPolicy AsyncRetryPolicy { get; set; }
{{/useHttpClient}}

        public RetryConfiguration(int MaxRetryCount, TimeSpan TimeSpan)
        {
            // Handle both exceptions and return values in one policy
            int[] retryStatusCodes = {
                408, // Request Timeout
                500, // Internal Server Error
                502, // Bad Gateway
                503, // Service Unavailable
                504, // Gateway Timeout
            };
            
            AsyncRetryPolicy = Policy
                                .Handle<Exception>()        
                                .RetryAsync(MaxRetryCount, (exception, retryCount, context) => Console.WriteLine($"try: {retryCount}, Exception: {exception.Message}"));
        
            RetryPolicy = Policy
                                .Handle<Exception>()
                                .Retry(MaxRetryCount, (exception, retryCount, context) => Console.WriteLine("Here"));
        }
    }
}
